[2015-01-13 20:32] gvalkov commented on #9
Tailon was written with Python `>= 2.7` in mind. While this error is trivial to fix, it's probably not the only incompatibility. With that said, I am reluctant to add support for 2.6. Sorry.

If your situation allows it, installing Python 2.7/3.3 on CentOS 6 is rather straightforward these days:
http://wiki.centos.org/AdditionalResources/Repositories/SCL

[2015-06-02 21:18] gvalkov commented on #10
Hello @maatthc,

Tailon has a somewhat weird asset pipeline. Front-end dependencies are fetched with `bower` and processed (compiled, minified, concatenated) with [webassets](http://webassets.readthedocs.org/). The driver for this is `tasks.py` and the [invoke](http://invoke.readthedocs.org/en/latest/) tool.

Basically, if you've made a change to `main.js`, you need to run `inv webassets --replace

[2015-06-04 01:39] maatthc commented on #10
Hi Georgi,
Thanks for the explanation - it makes much sense now.

Cheers

[2015-07-22 20:57] malford commented on #2
+1

It would be great if it were possible to change the `tail-lines` default from 60. Any chance of getting an enhancement? :grinning:

[2015-07-26 18:53] gvalkov commented on #2
Thank you for the reminder @malford. I've been meaning to implement the configuration part of the UI, but between work and home I just never get around to doing it. It's on my backlog for sure :(

[2015-09-03 12:28] schr3j commented on #2
Would be really awesome. I'm also trying it out atm and its really helpful. But the scrollback buffer is really small. Configuration would be really great!

[2015-09-07 23:01] gvalkov commented on #2
Gentlemen, I hacked together a configuration dialog that would allow you to change the scrollback buffer size as well as the number of lines to tail. It looks like this:

![2015-09-08-005511_365x186_scrot](https://cloud.githubusercontent.com/assets/190997/9723600/c78d73d6-55c4-11e5-8a18-9c8ee36676b7.png)

I hope to release a new version by the of the week.

Cheers,
G.

[2015-09-08 07:22] vinaybalepur commented on #2
This is awesome. You guys rock. Let me know when the latest code is
available for download.

On Tue, Sep 8, 2015 at 4:31 AM, Georgi Valkov <notifications@github.com>
wrote:

--

*Thanks and regards,       Vinay*

[2015-09-08 21:50] gvalkov commented on #2
Fixed in version 0.4.0. Please reopen if anything doesn't work as expected.

[2015-09-10 05:59] vinaybalepur commented on #2
Hi,

        The feature seems to be working as expected. Awesome help. Thank
you.

On Wed, Sep 9, 2015 at 3:20 AM, Georgi Valkov <notifications@github.com>
wrote:

--

*Thanks and regards,       Vinay*

[2015-10-19 18:04] jdrews commented on #11
Full disclosure... here is the install log.

[code]

[2015-10-19 22:05] gvalkov commented on #11
Hello @jdrews,

It's good to see that the installation passes successfully. Problem is that tailon simply doesn't know how to `tail`or `grep` through a file on Windows - it relies on external commands to do that.

I can think of the following options at the moment:

- See if it this functionality can be achieved with powershell.
- Write a minimal, cross-platform `tail` in Python that will be distr

[2015-10-20 01:53] jdrews commented on #11
I would lean towards a minimal, cross-platform ```tail```. More requirements (e.g. require MSYS) has the unfortunate consequence of reducing distribution. Especially when you get into information assurance controlled servers. Unless you can bundle it... in which case IA usually won't care/notice and it reduces the workload on end users when installing.

Powershell does have a minimal tailing funct

[2015-10-20 02:38] jdrews commented on #12
Looks like you specify 2.7 and above required in #9. I'd like to leave this issue open until documentation can be updated to reflect this requirement.

[2015-10-20 02:55] jdrews commented on #9
Can confirm installing python2.7 from SCL works on CentOS 6.6

[code]

[2015-10-20 22:15] gvalkov commented on #11
Yes, that does seem like the way to go. I've successfully bundled a modified version of [tailhead](https://github.com/GreatFruitOmsk/tailhead) with tailon, which seems to work well enough.

This change  will probably show up during the weekend, when I have more time for OSS.

Thank you for taking interest in tailon.

[2015-10-20 22:16] gvalkov commented on #13
Thanks for the catch. This is definitely a regression. I'll look into it asap.

[2015-10-20 22:29] gvalkov commented on #14
That would be nice indeed ([rtail](http://rtail.org/) seems to handle that nicely). One option I've been thinking about is to define the highlighting rules in terms of a [highlight.js](https://highlightjs.org/) language definition. I'll look into it.

[2015-10-24 19:21] jdrews commented on #13
Just to make sure it wasn't isolated to Chrome, I have tried it in the latest Firefox (v41) and Internet Explorer 11. All would not stay at the bottom of screen while tailing.

[2015-10-24 21:32] jdrews commented on #14
I looked into building a highlight.js language file to colorize logs I often tail. It was actually more complicated than I thought, since highlight.js is geared towards programming language syntax highlighting.

Here's the current syntax highlighter I use in bash environments to make it easier to read logs. It uses sed with regular expressions to add ANSI color tags to lines based on log level key

[2015-10-28 01:34] jdrews commented on #12
Documentation updated. Closing ticket.

[2015-10-28 02:01] jdrews opened #15 "Feature Request: Wrap text option"
Requesting new feature to be able to wrap text inside window. The reasoning behind this is to make sure all text is readable as it scrolls by.

It would be nice if this was a configuration in the yaml config file and in the wrench gear icon dropdown. If I had to choose between wrench gear and yaml config file I would choose yaml config file.

[2015-10-28 02:08] jdrews commented on #13
Tested your changes at 887df5f1d4e22ade9efa37dc9cc23a2a62a64aa8 and can confirm it functions properly now in Chrome, Firefox, and IE11. Closing issue.

As an interesting test, I'll let it continue to tail on all three browsers overnight. If you don't hear from me it went fine.

[2015-10-28 03:22] jdrews commented on #11
Maybe I'm testing this too early, but I tried out the new tailhead functionality in c0f9663d4205e3ed749b62a2e7e9e9f860bfe3ef on my Windows 10 box. Unfortunately, I don't get any log lines in the browser. Here is a debug output. Oddly enough I never see any `running tail` message like I do on Linux systems.

[code]

I also tried installing tailhead. I'm noticing it throws an error about having to o

[2015-11-02 23:25] gvalkov commented on #15
Definitely. I'll look into it when I get time to work on tailon.

[2015-11-02 23:37] gvalkov commented on #13
Thanks for trying it out. I just put 0.4.2 on PyPi with this fix. Although not perfect, the new scroll handling should be more robust.

[2015-11-02 23:51] gvalkov commented on #11
Your conclusions are correct - it doesn't work on Windows and with Python 2. I went ahead and reverted that commit. It would have been great if tailhead just worked out of the box. I really hope to finally tackle this over the weekend.

Thanks for trying it out and for your patience.

[2015-11-02 23:54] gvalkov commented on #9
Yes, I should have mentioned that from the start. Cheers to SCL.

[2015-11-07 22:07] solher commented on #15
+1 for the wrap text option. That would be really cool.

[2015-11-08 10:06] solher opened #17 "Add dockerfile and automated repo on docker hub"
Currently, the only docker container available is from that guy and it is outdated:
https://github.com/ipedrazas/docker-tailon

I had to fork it and build my own repo on docker hub.

It would be cool to have an official automated build from the official repo.
Maybe you could just copy his Dockerfile...

Thanks !

[2015-11-17 07:07] pzxbc commented on #15
+1. now i add this to log-view .log-entry in main.css for text wrap
[code]

[2015-11-18 00:36] gvalkov commented on #15
Implemented in 19db8a0. Please close the issue if you find that it works well enough for you. Thanks.

[2015-11-18 16:56] gvalkov commented on #18
Thanks for the feature request. I'm all for this, but I can't currently give any estimates on when I'll be able to work on it.

[2015-11-18 17:05] cuotos commented on #18
Completely understood. If I get a chance to have a look into this I will
and raise a pull req
On 18 Nov 2015 4:56 p.m., "Georgi Valkov" <notifications@github.com> wrote:

[2015-11-18 17:06] gvalkov commented on #16
Hello @paullarionov,

Sure, this makes sense. I'm in the process of writing a generic basic & digest auth module for tornado (modeled after bits of twisted's auth framework). Can't really tell when I'll be done with all this. Thanks for the patience.

[2015-11-21 03:11] jdrews commented on #15
Works in Chrome 46, Firefox 42, and IE 11.

Is there a way to set this from the config file passed in on start?

[2015-11-22 01:28] gvalkov commented on #18
Hello @cuotos. I added some basic support for this in 73ddc6daae573f03412c5530895279c28843824b (it's a very messy patch) - I just need to polish it a bit before releasing a new version.

[2015-11-23 08:23] labynocle commented on #19
Hi @sijis

I didn't find a daemon mode too so I write use the following init script (eg: /etc/init.d/tailon) to launch and manage tailon as a daemon:
[code]

not the best script of the world but it could be a beginning :)

[2015-11-23 23:14] gvalkov commented on #19
Hello @sijis,

It seems that the tendency nowadays is to leave daemonization out of the application logic ([here's a blog post](http://www.mikeperham.com/2014/09/22/dont-daemonize-your-daemons/) on the topic). I'm not very keen on adding this to tailon, even though it's mostly just bringing in one of the many daemonization packages as a dependency.

If plugging it into your init system is overkill

[2015-11-24 04:08] sijis commented on #19
@labynocle Thanks for the example.

I had already had the following for systemd and I was hoping there'd be a better way to do this.
[code]
and then in tailon.service
[code]

@gvalkov I completely understand and appreciate your stand on this.

[2015-11-24 19:14] gvalkov commented on #19
There is a simpler way to do it indeed. All that's needed for a tailon systemd service is:

[code]

[2015-11-24 21:46] sijis commented on #19
@gvalkov wow! that's awesome. I swore I tried that and it didn't work. I may had had ```Type=forking```, now that I think of it.

Would you be opposed to adding these two examples into a ```contrib/``` directory, in case someone else needs it as a service? I can put in a PR, if you'd prefer.

[2015-11-27 10:58] cmaneu opened #20 "Add support for LogHash logging"
Hi,
I work with @labynocle. We started to use Tailon on our logs and we like it so far :)
We would like to add syntax coloration for LogHash logs (see https://github.com/cmaneu/loghash-spec/blob/master/loghash-spec.md).

What is the best way to contribute this feature (it's frontend only)? I didn't see any plugin architecture and It may be not appropriate for everybody :).

[2015-11-27 19:33] jdrews commented on #20
@cmaneu I think if tailon implemented regex based syntax highlighting it would fit your needs. I made a feature request in https://github.com/gvalkov/tailon/issues/14

[2015-11-29 14:47] cmaneu commented on #20
I'll Followup the feature request #14 and see if it's works for LogHash :) Thanks !

[2015-12-02 22:26] mgvazquez commented on #18
+100 @gvalkov

[2016-01-15 14:31] garyservin opened #21 "proxy_pass nginx example not working"
I've followed the instructions on http://tailon.readthedocs.org/en/latest/#usage-with-nginx to get a proxy_pass on my server.

I can see the tailon interface, but the content is never updated. The js console doesn't throw any errors but looking at the network monitor, it seems I'm not able to connect to the websocket

![tailon](https://cloud.githubusercontent.com/assets/475165/12355411/2d1c99cc-bb

[2016-01-29 17:25] CloudSurgeon commented on #21
I was experiencing the same issue. I was using the nginx version from EPEL. I added the nginx repo and installed from there, and things are working now. (nginx/1.8.1)

[2016-01-31 22:41] gvalkov commented on #21
I just followed the instruction from the documentation with nginx 1.6.2 (the one that comes with debian jessie) and everything seems to work as expected. Could you share the nginx version you are running? Perhaps there is a http proxy between you and your server that doesn't support websockets?

[2016-02-01 17:08] garyservin commented on #21
I'm using nginx from debs in Ubuntu 14.04

nginx version: nginx/1.4.6 (Ubuntu)

[2016-02-28 09:56] hugsbrugs commented on #16
Hi and thanks for this great work !
I'm also interested in having a basic auth !

I'm offering a workaround waiting for this :
Create a domain or subdomain like tailon.mydomain.com
Create an apache virtual host
[code]
Create according folder and file : /var/www/tailon/.htpasswd

Start tailon on localhost:8080

This way you can access your log files securely !

[2016-03-07 09:44] vkosuri opened #23 "subsection new files are not shown in web tailon after server instantiated"
@gvalkov Thanks for the tool.

I have using this tool from past 2 week it is quite amazing, but we are using sub-sections to tail the files, This sub-section always creating new files on demand, however the tailon only showing the files which were there before starting web server.

After the server instantiated if any new file was created it won't shown up in web tailon.

If possible could you ple

[2016-03-08 21:13] gvalkov commented on #23
Hello @vkosuri. I'm happy to hear that tailon is useful to you!

This was originally requested in #18 and implemented in 73ddc6daae573f03412c5530895279c28843824b. I just released tailon 0.5.0, which should include this feature.

Please let me know if you run into any trouble with the new release.

Thanks,
G.

[2016-03-09 05:17] vkosuri commented on #23
Thanks @gvalkov after upgradte also it's not working. However when i start the server it working fine. But not showing subsections and auto update directory both.

[code]

And also i observed other issues like taiion --help and tailon

(venv)vkosuri:~/weblog$ tailon --help
[code]
(venv)vkosuri:~/weblog$ tailon

[code]

[2016-03-09 08:48] gvalkov commented on #23
Thanks for the catch! I just pushed 0.5.1 with a fix for the `--help` option.

The auto-updating functionality works only with directories. Do you mind sharing your config.yaml?

[2016-03-09 09:00] vkosuri commented on #23
@gvalkov Thanks it's working on directories,

Once again thank you very much. I am closing this issue hence the problem solved with ```0.5.1```

[2016-03-09 09:00] #23 closed

[2016-03-15 21:35] efernandez commented on #14
Would it be possible to color using bash control sequences?

http://misc.flogisoft.com/bash/tip_colors_and_formatting

[2016-03-16 13:32] BoD opened #24 "UnicodeDecodeError: 'utf8' codec can't decode bytes in position 38-39: invalid continuation byte"
I am trying to use tailon and it works, until I have this problem:

[code]

I attached a file that produces this issue.
[logcat.txt](https://github.com/gvalkov/tailon/files/176033/logcat.txt)

[2016-03-28 17:26] CloudSurgeon opened #25 "In version v5.X, the bottom of tailon is not displayed"
Last few lines are truncated from display, including the scroll bars. Appears in multiple browsers (IE, FF, and Chrome) and on Win and Mac. Verified issue is not present in 0.4.2

0.4.2
![image](https://cloud.githubusercontent.com/assets/12521930/14084418/a20e783a-f4e8-11e5-9aa0-6643c6924b40.png)

0.5.0/0.5.1
![image](https://cloud.githubusercontent.com/assets/12521930/14084429/ac81090e-f4e8-11e5-

[2016-04-04 09:35] espinraf opened #26 "Tailon does not terminate properly tail command"
When a user close Tailon web page, tailon does not terminate the tail command properly, leaving <defunct> tail processes.

Tailon process:
6667  6666 /usr/bin/python /usr/local/bin/tailon -a -f /var/log/.......

Defunct processes:

 ps -A -o pid,ppid,cmd | grep '<defunct>'
 7512  6667 [tail] <defunct>
12074  6667 [tail] <defunct>
12075  6667 [tail] <defunct>
19508  6667 [tail] <defunct>
23347  666

[2016-04-05 11:11] espinraf commented on #26
It seems if you add var.proc.wait() and the set to None  var.proc = None, it removes the defunct process

    def killall(self):
        for i in ('tail', 'awk', 'grep', 'sed'):
            var = getattr(self, i)
            if var:
                log.debug('killing %s process: %s', i, var.pid)
                var.stdout.close()
                var.stderr.close()
                var.proc.kill()

[2016-04-05 21:41] gvalkov commented on #26
Hi and thanks for the catch. I'm in the middle of a heavy refactoring at the moment. I'll make sure to have this fixed when things settle down again.

[2016-04-05 21:43] gvalkov commented on #25
Thanks, that's a good catch and a nasty regression. I'm in the process of refactoring tailon and once I'm done, I'll make sure to fix this.

[2016-05-11 00:11] tolinwei opened #28 "The empty lines are not being showed"
I tried this project, it's great, except issue #25
and the other thing is:

The empty lines in the file it not being printed out in the front-end UI.

Do I need extra setting or this is the nature of this project?
Thanks,
-Wei

[2016-05-11 21:25] gvalkov commented on #28
Hi, @tolinwei. This issue along with many others have been fixed in the develop branch, but I just haven't had the time to cut out a proper release. I'll do my best to have it soon.

[2016-05-13 20:33] tolinwei commented on #28
Thanks @gvalkov, this issue should be ok to close, look forward to your new update soon.
-Wei

[2016-05-13 20:33] #28 closed

[2016-05-18 14:40] dgvigil commented on #16
I would love to see this feature added as well.  Some logs (ie messages/syslog) are only viewable by root  for a reason and putting a simple auth would ensure that the logs aren't viewable by anyone crawling the site/server.

[2016-05-22 17:06] gvalkov commented on #29
Hello Michael,

The number of lines to tail should be configurable. There is a "Tail lines" input field in the configuration popup (wrench icon in the top-right). It's basically the value passed to `tail -n`. It's probably a good idea to make the initial value configurable from the cli/config file as well.

As for the scrolling issue, well ... it should work :) Scrolling to the very bottom should

[2016-05-22 17:12] gvalkov commented on #26
Fixed in tailon 0.6.0. Again, thanks for the bug report.

[2016-05-22 17:12] #26 closed

[2016-05-22 17:13] gvalkov commented on #25
This should have been fixed in tailon 0.6.0. Please re-open this issue if the problem persists. Thanks for the report.

[2016-05-22 17:13] #25 closed

[2016-05-22 18:29] gvalkov commented on #24
Hello @BoD and sorry for the atrocious response time. The issue was fixed in 91f0910719aead16fac01eecb7a246aef47a13dd. I'll close it once a new release with the fix is available. Thank you for reporting it.

[2016-05-31 15:43] nbastin opened #30 "Re-root logfile paths"
Our log paths are really long, but they all share a common root that could easily be pruned, maybe something in the config file:

[code]

(That path is too wide for the popup, and doesn't make a lot of sense to the end user in any event)

[2016-05-31 15:49] nbastin opened #31 "Give logfiles "short" names"
Would be nice if we could give logfiles a short name in the dropdown, which might more accurately reflect what it is to the user when you are aggregating logs at a remote log store.  Something perhaps like:

[code]

[2016-06-25 08:53] ploef opened #32 "Using Apache for proxy"
Hi,

Tailon seems exactly what I'm looking for but unfortunately I just can't get it to work behind a Apache proxy.
I tried a couple of configurations but I only get it to work if I'm not using the '-r' option. But....then the css is not working.
My Apache config is looking like this now:

 <Location "/logs">
                ProxyPass http://localhost:8090
                ProxyPassReverse http://l

[2016-06-30 20:51] gvalkov commented on #33
Sounds like a reasonable feature request. I'll look into it.

On a side note, if you need to expose only a single file to your users, then the [wtee](http://tailon.readthedocs.io/en/latest/#wtee) utility could prove useful.

[2016-08-08 03:59] zhangchengtest opened #34 "does the file __main__.py have been used"
does the file __main__.py have been used

[2016-08-08 21:52] gvalkov commented on #34
Hello @zhangchengtest,

Can you be a bit more specific? It doesn't have to be used, but it makes it easier to call tailon as a module, i.e:

[code]

[2016-08-09 02:35] zhangchengtest commented on #34
@gvalkov  thanks a lot for your answer, and  I did not find the method "main()" in the main.py,  could you give me a hint? and is it ok to write 'from . main import main' in __main__.py,  i am very confused with it.

[2016-08-09 20:09] gvalkov commented on #34
Since version 0.6.0 there is no longer a `main.main()` function, because tailon provides two executable scripts - tailon and wtee that share the same frontend and backend code (see `entry_points` in `setup.py`). When you run tailon, you execute `main.main_tailon` and when you run wtee, you execute `main.main_wtee`.

[2016-08-10 01:46] zhangchengtest commented on #34
\_\_main

[2016-08-10 07:23] gvalkov commented on #34
Sorry, my bad for misunderstanding you. You're absolutely right. I must have forgotten to update it in the big update to 0.6.0. Some day I plan on splitting tailon from wtee into separate projects. In the mean time, __main__ should probably call `main.main_tailon()` for backward compatibility.

Thanks for the catch.

[2016-08-13 08:33] jongles commented on #32
You will need to proxy the `/ws` path as well. For example:

[code]

Don't forget, in order to proxy websockets, you will need the **mod_proxy_wstunnel** module installed and enabled.

[2016-09-10 16:33] gvalkov commented on #34
I remove `wtee` from tailon and renamed `tailon_main` back to `main`. This should eliminate the confusion, I hope.

[2016-09-10 16:33] #34 closed

[2016-09-10 21:24] gvalkov commented on #33
Sorry for the huge delay. Implemented in dc94d16dd575b7db81d65188ffa0171bd03f15a1 - I'll rollout a minor release soon.

[2016-09-12 13:16] kh000 opened #35 "tail -F"
Is it possible to add tail -F functionality? I need to follow concrete files that I know will be created in the future, however I don't wont to follow whole directory.
Can it be done by simply add new method to CommandControl class in commands.py?
e.g
[code]

[2016-09-12 17:33] gvalkov commented on #35
Hello @kh000. That's certainly possible and sounds like a nice feature to have. I'll look into it, but I can't make any promises about when. It's a bit more complicated, since tailon checks to see if all input files exist at start.

For the time being, maybe [wtee](https://github.com/gvalkov/wtee) can be a feasible workaround . You can just pipe any command into it and it'll make it viewable in th

[2016-09-13 07:53] kh000 commented on #35
I found out that there is a workaround if tailon is watching symbolic link to non existing (yet) log file. At the moment the log file is created tailon starts streaming it.

[2016-09-16 13:36] asibin opened #37 "Cannot start tailon v1.0 because of a missing 'tail-lines' key"
Hello, I think i have found a bug in v1.0 of tailon.

When starting app with `tailon -c ~/test.yml`

This is the test.yml file:
[code]

I get this output:
[code]

Even though `tail-lines` was defined in config it wasn't read, what is worse it wouldn't start tailon at all because it was failing to get key.

Here is the pull request:
#36

Cheers,
Sibin

[2016-09-16 19:01] gvalkov commented on #37
Hello @asibin . Thank you for the bug report and the fix!

[2016-09-16 19:01] #37 closed

[2016-09-17 10:41] gvalkov commented on #35
Clever workaround :+1:  I've implemented this feature in 701a32dcbf981f81ad46b61d57a59ec86fd3ab4c. You can just run `tailon -F -f <files>` now and it should work even if the files don't exist yet. I'll probably make a release later today.

Thanks for the nice feature request.

[2016-09-17 10:41] #35 closed

[2016-09-19 18:27] gvalkov commented on #33
Released in 1.1.0. You can now set the initial values through the query string like this:

[code]

[2016-09-20 09:55] kh000 opened #38 "Bug: line_buffer length"
I found bug with line_buffer uncatched exception. I have a line which is 61000 characters long.
Is it possible to split this line into multiple shorter lines or ignore it with message that line is too long?
This bug affect web app in the way that its stop working and the only way make it works again is to refresh until the too long line disappear from the buffer.
It seems that bug show up if there

[2016-09-20 16:26] gvalkov commented on #38
Hello @kh000. I forgot to take into account that `list.clear()` is a Python 3 only method. Fixed in b7999f35ca30acf9cdb9bd1ba2699ec98f10e1b1 and released in tailon 1.1.1. Thanks for the catch :+1:

[2016-09-20 16:26] #38 closed

[2016-10-16 15:09] mauri opened #39 "traverse subdirectories"
Hi, currently only one level of subdirectories are followed by tailon. I have a very deep dir structure for logs (i.e. /logs/$service/$year/$month/$day) and would love to use tailon to access all the files. Is there a way to do that?

[2016-10-20 07:51] shan0807 commented on #9
I tried installing python2.7 from SCL but for
# easy_install-2.7 pip
it says "sudo: easy_install-2.7: command not found"

[2016-10-20 21:18] gvalkov commented on #9
I think `sudo` is resetting the environment (and `sudo -E` doesn't work for some reason). Try `sudo -i` followed by `scl enable python27 bash` and `easy_install` as root. Alternatively, since pip is already installed you can just install python-evdev as a user. The steps would be:

[code]

[2016-10-28 04:01] geniebot1020 commented on #39
Hi
I would like to see if there is any solution for this as well.

[2016-11-07 12:28] shan0807 commented on #9
It worked, thanks

Facing the following errors
"tailon -f /var/log/nginx/*
/opt/rh/python27/root/usr/bin/python2: error while loading shared libraries: libpython2.7.so.1.0: cannot open shared object file: No such file or directory"

There are issues if we update the python from 2.6 to 2.7

[2016-11-08 12:24] shan0807 commented on #9
[code]
It still takes the value of python2.6 when python 2.7 is running on my machine.
How to change the path for that

[2016-12-13 23:08] xJota commented on #30
I would also really appreciate this. Maybe an option to only show the filename and not the full path?

[2017-01-02 16:32] shan0807 commented on #9
I used the following code and tailon ran successfully. But, on machine reboot, it again takes python 2.6.6 as the default python version in centos6.x version.
Any work around for this

[2017-01-26 17:43] chines commented on #15
Thanks again for this.

[2017-03-05 20:03] chines commented on #14
Content/Syntax highliting would be a desired feature for me as well.  +1 to this, thanks again for such an amazing tool.

[2017-04-20 11:37] wasimbaig commented on #16
Any update on basic auth, thanks for the tool

[2017-05-22 22:28] gvalkov commented on #16
Well, it took me long enough, but it's finally done: https://github.com/gvalkov/tailon/commit/3ec5a52416fdb55d8f15d01c1bbe23f4fa17eef3

The feature is available in tailon 1.2.0, which was just pushed to PyPi.
Feedback and PRs are welcome.

[2017-05-22 22:29] #15 closed

[2017-05-22 22:36] #24 closed

[2017-06-03 05:52] sijis commented on #19
This is no longer needed, as this commit https://github.com/gvalkov/tailon/commit/6f75aab81477b2f32370df1307fb3e2e610bf8e8 added the example file.

[2017-06-13 17:27] port22 opened #43 "file list sort order by date, not by name"
I generate log files from a script with timestamp in it.

tailon will output the list of files in name-sorted order. But then, the oldest is shown first and the newest is at the very bottom.

Also I want to hide the folder location of the log files, since the line wraps because of the path-length.

Any chance to adjust this behaviour? I couldn't find the relevant place in the code :-(

[2017-06-13 18:37] gvalkov commented on #43
These sound like useful features - I'll consider them for next version.

At the moment, you can make the paths shorter by changing the working directory of tailon when you run it. For example:

[code]

[2017-06-13 19:00] port22 commented on #43
I just found out that the sorting is only old-to-new, when the filename ends with ".log"
If I just use filenames like "13.06.2017-21:00" I have the newest on top.
Also I bind-mounted the actual log dir to /log, which strips down the length.
That's sufficient for me for the time being

[2017-06-13 19:02] #43 closed

[2017-09-07 19:08] Bryant-Yang opened #45 "highlight for mouse selected text in log is hard to see"
Use mouse to select log text in browser, it's hard to see the selected area. (black is very similar to background color)

[2017-10-30 14:27] ssa5 opened #46 "No connection when firewall is enabled (with ACL for src/port)"
When firewall on the server is enabled, cannot access Tailon. Once the firewalld service is stopped, I can connect via my browser.  I did of course insure that there was a proper entry in my firewalld zone file. Basically same setting I use to access the very web application I want to view logs, except changing port from 8080 to 7780. I have done packet caps when firewall is enabled, and when is s

[2017-12-10 11:03] muratkarahan opened #48 "grep option and search keyword can be input from get request"
tailon grep option selection and then keyword search input are handled through UI. But is it possible to input them from the get request parameters

[2018-03-14 15:23] br1guy opened #49 "Issues with newer version of Tornado when installing with pip."
There seems to be an issue with a newer version of tornado that automatically gets installed when installing tailon with pip. The issue seems to be with tornado 5.0.0. Manually installed version 4.5.1 of tornado and had no issues. There is an issue with it complaining about the number of arguments. Not sure this is a tailon issue exactly, but it is what gets installed when installing tailon.

Runn

[2018-03-17 12:25] gvalkov commented on #49
Hi. Thanks for the catch. I just released 1.3.1 that pins tornado to <=5.0.0. [This issue](https://github.com/mrjoes/sockjs-tornado/pull/114) in `sock-js` needs to be fixed before tailon can support tornado 5.x.

[2018-04-10 20:04] gvalkov commented on #52
Thanks @vizcay. There's not much in the way of documentation I'm afraid. Everything there is, is contained in the output of `tailon --help`.

[code]

[2018-04-16 01:11] vizcay commented on #52
@gvalkov sorry I had never seen that section of the help.. my mistake.

[2018-05-19 02:06] camjac251 opened #56 "extra-files-dir required directory on stable, fixed on dev"
With the latest stable release on pypi, I get `FileNotFoundError: [Errno 2] No such file or directory: '/etc/tailon/files.d/`

I think this is fixed on the development branch. Could it be pushed to stable?

[2018-05-19 02:06] camjac251 commented on #56
I used pipsi so I'm unable to use the dev branch.

[2018-05-24 15:19] amkarthik opened #57 "Sub Sections is not working."
Hi
I installed tailon using pip isntall. (Linux mint)
My version: tailon version 1.4.1

I can't see any changes in the sub sections.
![image](https://user-images.githubusercontent.com/12694917/40494942-b1c1fa6e-5f93-11e8-887e-e651cacedaf4.png)

My config files is as follows
bind: 0.0.0.0:8080      # address and port to bind on
allow-transfers: true   # allow log file downloads
follow-names: true

[2018-05-26 17:02] gvalkov commented on #56
This should have been fixed by #55. Sorry for the inconvenience.

[2018-05-26 17:02] #56 closed

[2018-06-06 07:03] dvut commented on #32
I had to use a few extra rules to get the websocket forwarded:

I have tailon configured using: relative-root: '/logviewer/' and have tailon running in a docker container on 172.25.7.101:8080:

    <Location "/logviewer">
        ProxyPass "http://172.25.7.101:8080/logviewer"
        ProxyPassReverse "http://172.25.7.101:8080/logviewer"
        RewriteEngine on
        RewriteCond %{HTTP:UPGRADE}

[2018-06-07 21:00] krafts opened #61 "Please consider posting the image on docker hub"
Hi,

Forgot to mention in the dockerfile pull request, please consider posting the image on docker hub, so it is available to all for using it quickly.

Here is the documentation of creating an automated build from the Dockerfile in the repo: https://docs.docker.com/docker-hub/builds/#create-an-automated-build

Thanks!

[2018-07-06 22:16] andyforceno opened #62 "awk: not an option --sandbox"
When I try to do something as simple as `{ print $1 }`, I get an error,: `awk: not an option: --sandbox. It seems the version of awk I am running doesn't have the `sandbox` argument. Does anyone know which version of awk this requires? I have whatever Ubuntu 14.04 ships with. Apparently that is mawk 1.3.3.

[2018-07-07 00:09] chines commented on #62
v4.0 of gawk (default awk in centos/rhel) introduced --sandbox:

https://www.gnu.org/software/gawk/manual/html_node/Feature-History.html

[2018-07-07 01:54] andyforceno commented on #62
Thank you. `sudo apt-get install gawk && sudo apt-get remove mawk` took care of the error.

[2018-07-07 01:54] #62 closed

[2018-08-28 19:40] DmitriyLyalyuev opened #1 "Split view to see two files"
Hi.
Thank you for the great analog of Log.io.

Can you implement a split view to see two or more files in parallel?
Or maybe get an option to select not one file to tail.

Thanks.

[2018-08-29 20:32] BenBaril83 opened #2 "Commands other than 'tail' do not seem to work"
I'm attempting to run an AWK against the tail output, and no matter what I do, I never see any output. Happy to provide more details if necessary.

I've taken the two 'commands' from the log and run them like commandA | commandB and they work perfectly.

[2018-08-30 07:30] gvalkov commented on #2
Hi. You most likely have to add a `flush()` command to your awk script: `{print $1; fflush()}` (sorry, I know it's not intuitive at all).

[2018-08-30 11:05] BenBaril83 commented on #2
I wish that worked, but no dice. Here are things I've tried:

{print $0; fflush()}
'{print $0; fflush()}'

My actual script:
'BEGIN {OFS = "*"} {printf("Alert|%s|%s|%s|%8d|%8d|%8d|%s|%s|%s\n",$1,$2,$3,$4,$5,$4-$5,$10,$9,substr($22,1,40)); fflush() }'

[2018-08-30 11:07] BenBaril83 commented on #2
Log output:
[code]

If I take the last one and pipe it, it works:
[code]

[2018-09-06 15:11] blackwindrunner opened #3 "How to load a toml file ?"
I write a config.toml that contains as following code:

  title = "Tailon file viewer"
  relative-root = "/"
  listen-addr = ":8081"
  allow-download = true
  allow-commands = ["tail", "grep", "sed", "awk"]
  [commands]
    [commands.tail]
    action = ["tail", "-n", "$lines", "-F", "$path"]
    [commands.grep]
    stdin = "tail"
    action = ["grep", "--text", "--line-buffered", "--color=never",

[2018-09-19 15:34] TheColonel2688 opened #4 "Binding to multiple IP addresses"
It is possible to have Tailon bind to 2 or more IP addresses? I have a machine that has 2 and I would like to be able to access it with both.

If so what is the syntax?

[2018-09-19 17:15] DmitriyLyalyuev commented on #4
Regarding help `tailon --help` you can start it on all interfaces. Something like:
tailon --bind 0.0.0.0:<portnumber>

[2018-10-08 19:17] nmusser opened #6 "Tailon doesn't seem to load TOML config file."
When I run tailon it doesn't seem to be loading my TOML config file at all. My file looks like as follows:

[code]
Note that the only change I've made is the port from 8080 to 8081, but this change isn't reflected when I run the binary. In fact, no changes I make seem to take effect.

[code]

[2018-10-14 15:13] gvalkov commented on #4
Hi @TheColonel2688 - since f2b575aae4b7aacc59d0380cf7af709d50d7465d it's possible to do this. Use `tailon -b localhost:8080,10.0.0.1:8081 ...` on the cli or `bind-addr: ["localhost:8080","10.0.0.1:8081"]` in the config file.

[2018-10-14 15:13] #4 closed, assigned to nobody

[2018-10-14 15:15] gvalkov commented on #6
Hi. This should now work (fffdf3fe57cef675341c44cbee946d8a81c3ff8a). However, at the moment it's not possible to mix configuration from the config file with command-line options.

[2018-10-14 15:15] #6 closed, assigned to nobody

[2018-10-14 15:15] gvalkov commented on #3
Hi. This should now work (fffdf3fe57cef675341c44cbee946d8a81c3ff8a). However, at the moment it's not possible to mix configuration from the config file with command-line options.

[2018-10-14 15:15] #3 closed, assigned to nobody

[2018-10-14 15:17] gvalkov commented on #2
Sorry for the delay. If the log file is not sensitive, could you please attach it so that I can debug locally?

[2018-10-24 16:22] camjac251 opened #8 "File example for config folder"
Is it possible to include an example of how the config would work with aliases and paths

The readme just shows
[code]
which isn't helpful.
I have tried different combinations of what I think it might be couldn't figure it out.

[2018-12-05 01:08] zjqzero opened #9 "refresh the log file if create a new log file such as logrotate"
refresh the log file if create a new log file such as logrotate. If tailon support that would be nice.

[2019-01-16 23:45] petehalverson opened #10 "Turn on vue production mode"
`3rdparty.js` currently bundles vue/dist/vue.js (which is used for development)

Using the minified version in the [`EXTERNAL_JS`](https://github.com/gvalkov/tailon/blob/master/frontend/Makefile#L9) list will resolve the issue.

https://vuejs.org/v2/guide/deployment.html#Without-Build-Tools

[2019-01-16 23:48] petehalverson commented on #10
Also noticed a number of console.log() calls that should probably be turned off in production.

Would you consider switching to a webpack build process for the frontend?

[2019-02-07 22:43] gvalkov commented on #10
Thanks for the tip and apologies for the long wait. I've done as you suggested in 25e9227cc91a3865acfa2ed2d2e4ac5b05824eca and 89380bfb1227e205ee77cd12b69da3e475a2522e.

I know it may be limiting, but I prefer if the make-build stayed. I'm simply not that familiar with webpack.

[2019-02-07 22:43] #10 closed, assigned to nobody

[2019-02-07 23:54] petehalverson commented on #10
Awesome. Thanks!

[2019-02-12 06:21] machsix opened #11 "Nginx reverse proxy"
First of all, I would like to appreciate the great work of the author! I want to share my experience of setting nginx reverse proxy for the program. For example, if `tailon` listens at `127.0.0.1:12323`, my goal is to redirect web request to `https://www.example.com/log/` to `127.0.0.1:12323` and also create a systemd service to make the program start automatically.

First, I create the following

[2019-02-15 22:50] gvalkov commented on #11
Hi. Thanks for the report - I've always wondered how to achieve this with nginx. However, there's already an option that makes this easier:  `-r|--relative-root`
[code]

[code]

[2019-02-15 23:19] machsix commented on #11
I didn't notice there is a `-r` option. This is far more elegant! Thank you!

[2019-02-15 23:19] #11 closed, assigned to nobody

[2019-03-08 10:34] sago007 opened #12 "README is not consistant on the "sed" command"
According to the README's "Security" section "sed" is not enabled by default.
However in the go version "sed" is now enabled by default.

It might not be a big deal as people that are granted access to Tailon are usually highly privileged anyway. It could still be a nasty surprise to some. Especially when upgrading from the python version.

Tested on release 1.1.0

[2019-03-18 10:44] iesl2 commented on #8
@gvalkov,

I'm also interested in how may we define files in the config:

For example:
[code]

But got the error:
**Error parsing config: (9, 9): keys cannot contain , character**

I also tried some different variants:
[code]
**panic: interface conversion: interface {} is nil, not *toml.Tree***

[code]
[code]
***No files specified on command-line or in config file**

No any of these variants works

[2019-03-19 08:02] iesl2 commented on #11
@gvalkov, @machsix

It seems that I have an issue with provided configuration...

**tailon**
[code]

**nginx**
[code]

**cat /var/log/nginx/domain.com-access.log**
[code]
**cat /var/log/nginx/domain.com-error.log**
[code]

**cat /var/log/tailon.log**
[code]

<img width="1055" alt="Screen Shot 2019-03-19 at 09 52 14" src="https://user-images.githubusercontent.com/44373699/54589028-33874e80-4a2d-11e

[2019-03-19 09:24] iesl2 opened #13 "File permission issue - invalid memory address or nil pointer dereference"
Hello,

I tried to start tailon specifying a file to which tailon user doesn't have access:
[code]
And got the error:
[code]

Probably it may be usefully to see some information about file permission issue in the tailon output.

Thank you!

[2019-03-19 10:29] iesl2 commented on #11
Found the issue, it was related to the `relative-root` option in my start script:

[code]

Now, all working as expected.

[2019-03-29 19:42] deseven opened #14 "Support terminal escape codes for colors"
There are some escape sequences for terminals, usually used for color output. Many loggers love to use them.

As an example:
`[31msome text[39m`

As a bare minimum, if you don't want to make color support, it would be nice to at least know about it and strip them from text completely.

[2019-04-04 04:51] #9 closed, assigned to nobody

[2019-07-11 16:34] Chris2048 opened #63 "LICENCE same as new tailon?"
Hi, The new tailon has an Apache licence, does legacy tailon have a similar license?
I'd like to fork the python-based version so I can continue to use in a python ecosystem, but afaik its is not permitted to do so?

[2019-07-12 07:44] xagaba commented on #8
I read the source code and seems that reading 'filespecs' from config file it's not supported / developed right now.
I use config.toml por all except filespecs configuration, I put this in the command line and works fine

[2019-07-21 21:55] gvalkov commented on #63
Hi Chris. The Python tailon is licensed under the 3-clause BSD license. You're welcome to do anything you want with it (just need to keep the first line of the LICENSE file).

[2019-07-21 21:55] #63 closed

[2019-08-06 08:33] NahaliY opened #16 "LDAP Authentication to the Tailon Web interface"
Hello everyone,

Is there an alternative to activate LDAP authentication when accessing to Tailon web Interface.
I saw that there is an http authentication solution (by declaring the username and pasword), but i want to use LDAP authentication.

Thank's in advance for your response.

[2019-08-06 15:53] #16 closed, assigned to nobody

[2019-10-15 21:26] emilyzzz commented on #11
I set up for tailon to run on localhost and nginx in front of it. Having tried a few times but still css/js not found. Eventually I found the --relative-root thing from this page, set that on tailon start, and set same on nginx.conf, finally everything works. People can read log on my VM. Thank you so much.

Btw I also set "tailon" to run as a systemd service on Linux centos7, quick script
cat /et

[2019-11-21 12:01] shamannn7 opened #18 "If there is no [command] in the config, error is thrown"
"Interface is nil, not *Toml.Tree" is thrown if there is [commands] in the config toml file. So defaults are not used in this case.

[2019-12-08 18:26] simonc56 opened #19 "Last 2 lines hidden when toolbar is on"
Tailon 1.1
Firefox 71

When tailon toolbar is displayed (I keep it displayed to quickly switch between log files) the whole log textarea is moved toward bottom of the screen, therefore the 2 last lines are out of screen.
So I can't read those 2 last lines.
The bottom arrow of scrollbar is hidden too.
I always have to hide the toolbar to see the last lines.

[2020-01-13 08:14] mbigras commented on #2
Aha! It's because the grep, sed, and awk running inside the `gvalkov/tailon` image are running the busybox versions.

When I'm using grepping for `foobar`, this is a log message from a tailon container:

[code]

 but look what happens when I try to run the same pipeline inside the container:

[code]

The error message is: `grep: unrecognized option: text`, which is coming from the busybox grep ins

[2020-02-25 15:27] geragio opened #27 "Support for compressed log file(gz,bzip2,...)"
Hi,

Is it possible to read compressed log file using tailon?

It would be a nice thing to implement if it's not present

[2020-03-15 16:13] paladine commented on #14
+1 to this. I wouldn't mind doing this myself as I have a fully functional ANSI parser in both C/Java, but I'd have to port to go and web frontend development isn't my forte. If somebody could point me in the right direction, I'd be happy to contribute.

[2020-03-26 13:16] #1 closed, assigned to nobody

[2020-06-04 08:20] lars-ek opened #29 "Is it possible to set the default number of lines to tail?"
e.g. somehow via the config-file?

It seems that this is part of the config-structure, but not read from the config-file....

Thank you.

[2020-09-01 09:30] nervo opened #33 "Provide a 1.1.0 docker image"
As far as i can see on https://hub.docker.com/r/gvalkov/tailon/tags, only a 1.0.0 image is available :)

[2020-11-14 06:47] NickWaterton commented on #14
I just implemented this in the Python version of tailon.
I’m using a rewritten version of grc (grcat) to insert ANSI codes, and ansi2html to convert to inline html.

The only slight issue is in the logfile.js file, you have to remove the escapeHtml filter, otherwise the inline html prints as plain text instead of being rendered. This also means that any inline html you try to view will also be ren

[2021-01-08 07:17] pmorch commented on #19
Thanks for this info. I was just about to abandon use of tailon because it didn't tail properly! :-)

[2021-05-27 08:12] simonc56 commented on #19
Seems https://github.com/bformet/tailon/commit/1b3a48b3f0886765b8ada8fbe69acadd2f4aa84c fixes this.
https://github.com/bformet/tailon is the most active and recent fork.

[2021-06-13 19:14] tacerus opened #41 "Correct or delete misleading readthedocs.io pages"
Hello,

I utilized my search engine to find an application that does what your application does. Happily among the first results I found `tailon`, represented by the link https://tailon.readthedocs.io/en/latest/.
Upon attempting to install it using `pip` and trying to run it, I was faced with errors. I followed the GitHub reference in the above link to file an Issue, only to become extremely confu

[2021-11-06 10:38] #27 closed, assigned to nobody

[2021-11-10 11:20] erny commented on #27
I just thought the same! I have daily log rotation and it would be to have...

[2021-11-17 02:42] SNOWGUM opened #44 "Not displaying entire file"
See the below Images, I have no idea why?

<img width="407" alt="Screen Shot 2021-11-17 at 1 41 39 pm" src="https://user-images.githubusercontent.com/16774291/142113725-af78fe65-8580-446f-9eec-2ca386a46c51.png">

![Screen Shot 2021-11-17 at 1 41 53 pm](https://user-images.githubusercontent.com/16774291/142113694-5dcd9d28-11ef-45d3-9200-c7aa21793d26.png)

[2021-12-31 03:59] rcacunar commented on #29
i see that the default is set in the ui element and to recompile is needed to have configured in local the front dev environment correctly.

[2022-02-10 21:59] sgohl commented on #29
there was the option `-t` in the "original" tailon (https://tailon.readthedocs.io/en/latest/#id1)  which I also desperately want back :-)

[2022-02-10 22:01] sgohl commented on #44
it only tails 10 lines per default, and this seems not configurable anymore - see https://github.com/gvalkov/tailon/issues/29

[2022-02-11 09:26] simonc56 commented on #29
I use [this fork](https://github.com/bformet/tailon/releases) which shows more lines.

[2022-02-23 16:37] dbboyd17 opened #47 "Security"
If is possible to configure tailon to be accessible externally (i.e. on the public internet), is it possible to configure user/password credentials to authorize access?

This does not need to be anything too fancy!

[2022-07-06 12:44] NiNiyas commented on #29
If anyone is still looking for this I made a fork. https://github.com/NiNiyas/tailon

[2022-07-28 22:38] go4isaac opened #66 "Auto-detect new directories"
Hi,

I am using **tailon 1.4.3**

I am running the command: **tailon -f /var/log/**

Currently while running tailon, if new directories are created under /var/log/, they are not auto-detected on the web frontend.

Just like how new log files are auto-detected when created, new directories and the log files inside should also be auto-detected. (So that it is **truly recursive** when a directory is

[2022-08-13 15:02] fwarmuth opened #52 "Provide docker image for linux/arm/v7"
Hey,
how about providing a docker image for `linux/arm/v7`. The RaspberryPi uses such `arch`, i guess it will increase the userbase by a bit!

Cheers!

[2022-09-09 17:57] subvhome opened #53 "tailon version 1.4.3 (Installed via pip3 install tailon)"
Seems to be working fine... the console is spitting out:

[code]

Running CentOS 8
python3

[2022-09-09 18:04] subvhome commented on #53
Turned out a client was connected and had some cached settings in their browser. Closing the tab resolved.

[2022-09-09 18:04] #53 closed, assigned to nobody